@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=League+Script&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, :after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    background: #F2F2F2;
}

ul {
    margin: 0;
    padding: 0;
}

/* Nav bar */
.ruler {
  height: 1vh;
  width: 100%;
  z-index: 400;
  position: fixed;
  top: -12vh;
  transition: height 0.3s linear;
}

.ruler:hover {
  top: 2vh;
  height: 10vh;
  transform: rotate(358deg);
  transition: height 0.3s linear;
}

.ruler nav {
  position: absolute;
  top: 70%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 10vw;
}

.ruler nav a {
  text-decoration: none;
  font-family: 'Nanum Pen Script', 'Helvetica';
  font-weight: 100;
  font-size: 2em;
  color: #454343;
}

/* notebook */
.notebook-skin {
    background: #161913;
    width: 40vw;
    height: 90vh;
    position: relative;
    top: 3vh;
    display: flex;
    align-items: center;
}

.skin-left {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  box-shadow: -2px 15px 31px -9px rgba(0,0,0,0.5);
}

.skin-right {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 15px 15px 31px -20px rgba(0,0,0,0.5);
}

.paper {
    /* https://www.clairecodes.com/blog/2018-10-10-css-polka-dot-background/ */
    background-color: #FFFFFF;
    background-image: radial-gradient(#d9d9fa 7.5%, transparent 5%);
    background-position: 1vh 1vh;
    background-size: 15px 15px;
    height: 100%;
    width: 97.5%;
    margin-bottom: 2.5%;
    padding: 1% 5% 5% 5%;
    color: #0b0b0b;
    font-family: 'Nanum Pen Script';
    font-weight: 100;
    font-size: 1.5rem;
}

.paper h1, h3 {
    font-family: 'League Script', cursive;
    font-size: 3.5rem;
    font-weight: 400;
    margin: 1rem 0 0.5rem 0;
}

.paper h3 {
  font-size: 2.5rem;
}

.paper p {
  margin: 0;
}

.paper ul {
  list-style-position: inside;
  line-height: 1.5;
}

.left {
  justify-content: flex-end;
}

.left .paper {
  margin-right: 0px;
  border-top-left-radius: 2.0rem;
  border-bottom-left-radius: 2.0rem;
  border-right: 1px solid #514933;
  box-shadow: inset -10px -5px 10px -10px rgba(0,0,0,0.5);
}

.right {
  justify-content: flex-start;
}

.right .paper {
  margin-left: 0px;
  border-top-right-radius: 2.0rem;
  border-bottom-right-radius: 2.0rem;
  border-left: 1px solid #514933;
  box-shadow: inset 10px -5px 10px -10px rgba(0,0,0,0.5);
}

/* nav arrows */
.nav-arrow {
  height: calc(100px * 0.8);
  width: calc(131px * 0.8);
  z-index: 400;
  top: 25vh;
}

.left-arrow {
  position: fixed;
  left: 1vw;
}

.right-arrow {
  position: fixed;
  right: 1vw;
}

/* index */
#belongs-to {
  margin-top: 1rem;
  text-align: center;
}

#mini-bio {
  position: absolute;
  bottom: 12.5vh;
}

/* contact */

.logo-grid {
    margin: 20px;
    display: flex;
    align-items: center;
}

.logo-grid a {
    height: 20%;
    margin-left: 2rem;
    text-decoration: none;
    color: inherit;
}

.logo {
    height: 15%;
    width: 15%;
}


/* resume page */

#resume {
  position: relative;
  top: -2.5vh;
  margin: 0 auto;
  width: 31vw;
  height: 55vh;
}

.download-link {
  height: 4.32vw;
  width: 6vw;
  position: absolute;
  right: -.5vw;
}

.download {
  width: 4.32vw;
  height: 6vw;
  z-index: 100;
}

.year {
  position: absolute;
  right: 3vw;
}

/* about page */