@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=League+Script&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, :after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    background: #F2F2F2;
}

ul {
    margin: 0;
    padding: 0;
}

/* Nav bar */
.ruler {
  height: 1vh;
  width: 100%;
  z-index: 400;
  position: fixed;
  top: -12vh;
  transition: height 0.3s linear;
}

.ruler:hover {
  top: 2vh;
  height: 10vh;
  transform: rotate(358deg);
  transition: height 0.3s linear;
}

.ruler nav {
  position: absolute;
  top: 70%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 10vw;
}

.ruler nav a {
  text-decoration: none;
  font-family: 'Nanum Pen Script', 'Helvetica';
  font-weight: 100;
  font-size: 2em;
  color: #454343;
}

/* notebook */
.notebook-skin {
    background: #161913;
    border-radius: 2.0rem;
    width: 40vw;
    height: 90vh;
    position: relative;
    top: 3vh;
    display: flex;
    align-items: center;
}

.paper {
    /* https://www.clairecodes.com/blog/2018-10-10-css-polka-dot-background/ */
    background-color: #FFFFFF;
    background-image: radial-gradient(#d9d9fa 7.5%, transparent 5%);
    background-position: 1vh 1vh;
    background-size: 15px 15px;
    height: 95%;
    width: 95%;
    border-radius: 0.5rem;
    padding: 5%;
    color: #0b0b0b;
    font-family: 'Nanum Pen Script';
    font-weight: 100;
    font-size: 1.5rem;
}

.paper h1 {
    font-family: 'League Script', cursive;
    font-size: 3.5rem;
    font-weight: 400;
    margin: 1rem 0;
}

.paper p {
  margin: 0;
}

.paper ul {
  list-style-position: inside;
  line-height: 1.5;
}

.left {
    justify-content: flex-end;
}

.left .paper {
    margin-right: 5px;
}

.right {
    justify-content: flex-start;
}

.right .paper {
    margin-left: 5px;
}

/* nav arrows */
.nav-arrow {
  height: calc(100px * 0.8);
  width: calc(131px * 0.8);
  z-index: 400;
  top: 25vh;
}

.left-arrow {
  position: fixed;
  left: 1vw;
}

.right-arrow {
  position: fixed;
  right: 1vw;
}

/* index */
#belongs-to {
  text-align: center;
}

#mini-bio {
  position: absolute;
  bottom: 12.5vh;
}

/* contact */

.logo-grid {
    margin: 20px;
    display: flex;
    align-items: center;
}

.logo-grid a {
    height: 20%;
    margin-left: 2rem;
    text-decoration: none;
    color: inherit;
}

.logo {
    height: 15%;
    width: 15%;
}


/* resume page */

#resume {
  width: 200px;
  height: 400px;
}

/* about page */